.PopoverTrigger {
  background-color: #345687;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  text-decoration: none;
}

.PopoverContent {
  border: 1px solid #345687;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  width: 260px;
  background-color: white;
}

.PopoverArrow {
  fill: #345687;
}
