.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: #0d1117;
  color: #c9d1d9;
  border: 1px solid #30363d;
  cursor: pointer;
}

.SelectTrigger:hover {
  background-color: #161b22;
}

.SelectTrigger:focus {
  box-shadow: 0 0 0 2px #1f6feb;
}

.SelectTrigger[data-placeholder] {
  color: #8b949e;
}

.SelectIcon {
  color: #8b949e;
}

.SelectContent {
  overflow: hidden;
  background-color: #161b22;
  border-radius: 6px;
  border: 1px solid #30363d;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: #c9d1d9;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: #1f6feb;
  color: white;
}
