.CheckboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CheckboxRoot {
  background-color: #0d1117;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #30363d;
  cursor: pointer;
}

.CheckboxRoot:hover {
  background-color: #161b22;
}

.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px #6e40c9;
}

.CheckboxRoot[data-state="checked"] {
  background-color: #6e40c9;
  border-color: #6e40c9;
}

.CheckboxIndicator {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Label {
  color: #c9d1d9;
  font-size: 15px;
  line-height: 1;
  user-select: none;
}
